<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nosotros</title>
</head>
<body>
<h1> Misión </h1>
<p> Ofrecer el banco de preguntas de exámenes de admisión más completo y actualizado del Perú, a fin de brindar una experiencia de calidad y exigencia académica que contribuya a alcanzar el ingreso de todos los jóvenes a la universidad. </p>

<h1> Visión </h1>
<p> Ayudar a la población escolar y pre universitaria a lograr sus objetivos de admisión a través de herramientas digitales. </p>

<h1> Valores </h1>
<ul>
    <li> Responsabilidad </li>
    <li> Respeto </li>
    <li> Humildad </li>
    <li> Honestidad </li>
    <li> Justicia </li>
</ul>

</body>
</html>